.overMonthlyCost {
    float: right;
    background-color: red;
}

table{
    border-collapse: collapse;    
    background-color: white;
}

table, th, td{ 
    border: 1px solid black; 
    padding: 5px; 
    font-family: sans-serif;    
}

html {   
    background-color: white;
}

header{ 
    font-family: Arial, Helvetica, sans-serif;
}